* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator-body {
  width: 450px;
  height: 600px;
  border: 5px solid rgb(0, 143, 12);
  background-color: rgb(240, 240, 240);
  border-radius: 6px;

  text-align: center;
}
.Calculator-display {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 20%;
  padding: 1rem;
  font-size: xx-large;
}
.button-container {
  display: flex;
}
button {
  border-radius: 4px;
  width: 25%;
  height: 16%;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 92, 92);
  font-size: xx-large;
}
.num {
  background-color: rgb(156, 156, 156);
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: rgb(156, 156, 156);
}
.num:hover {
  background-color: rgb(92, 92, 92);
}
